body{
 
}
.wrapper{
  display: grid;
  width: 700px;
  height: 700px;
  border: 1px solid gray;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(grin.jpg);
}

.wrapper >div{
  border: 2px solid rgb(245, 243, 243)
}
/* квадрат внутри дороги */
.wrapper> div.inner-square{
  border: 1px;
  background-color: rgb(94, 93, 93);
}
/* дорога горизонт */
.lane-vertical{
  background: rgb(94, 93, 93);;

}
 .lane-vertical div{
    width: 50%;
    height: 100%;
    border-right: 2px dashed rgb(252, 248, 248);
  }
.lane-horizontal{
  background-color:  rgb(94, 93, 93);
  display: flex;
  flex-direction: column;
}
.lane-horizontal div:first-child{
    height: 50%;
    width: 100%;
    border-bottom: 2px dashed rgb(248, 247, 247); 
  }