.light{
    width: 60px;
    height: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
}

.light > div{
grid-column-start: 1;
grid-column-end: 2;
background-color: black;
}

.light > div.arrow{
    grid-column-start: 2;
    grid-column-end: 3;
}
.light > div > div{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: rgb(119, 117, 117);
}

.light.active .green div{
    background-color: green;
}

.light.inactive .red div,
.light.arrow-active .red div{
    background-color: red;
}

.light.arrow-active .arrow div{
    background-color: green;
}.light{
    width: 60px;
    height: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
}

.light > div{
grid-column-start: 1;
grid-column-end: 2;
background-color: black;
}

.light > div.arrow{
    grid-column-start: 2;
    grid-column-end: 3;
}
.light > div > div{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: rgb(57, 58, 57);
}

.light.active .green div{
    background-color: green;
}

.light.inactive .red div,
.light.arrow-active .red div{
    background-color: red;
}

.light.arrow-active .arrow div{
    background-color: green;
}
